spring.application.name=moneymanager
server.servlet.context-path=/api/v1.0
# JPA Configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
# Email Configuration
spring.mail.host=localhost
spring.mail.port=1025
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=false
spring.mail.properties.mail.smtp.starttls.enable=false
spring.mail.protocol=smtp
spring.mail.properties.mail.smtp.ssl.from=noreplay@example.com
jwt.secret=
money.manager.frontend.url=http://localhost:5173
app.activation.url=http://localhost:8080